/* ADD YOUR CUSTOM CSS TO THIS FILE BELOW */

header {background-image: url("Collage.jpg") !important;
background-size: cover; 
margin-top: 53px
}

h1 {
	text-align: center;
	font-size: 54px;
	letter-spacing: 3px;
	font-family: Waters Titling, Serif;
}
h2 {
	text-decoration-line: underline;
}
p {
	font-size: 15px;
	letter-spacing: 1px;
}
body {
font-family: Waters Titling, serif;
font-size: 15px;
}

.csssmall {
font-size: 15px;
}

.cssformat {
text-align: left;
font-size: 19px;
}

.cssformat2 {
	text-align: center;
	font-size: 17px;
}

.paperclip {
	font-weight: bold;
	font-size: 25px;
}

.send {
	font-weight: bold;
	font-size: 25px;
}


.bg-dark {
	background-color: red !important;
	opacity: 0.8;
}