/* ADD YOUR CUSTOM CSS TO THIS FILE BELOW */



  body {
    font-family: Tenor, Sans-serif;
    font-size: 16px;
    outline-style: dotted;
    }

  h1 {
    text-align: center;
    font-family: Tenor, Sans-serif;
    color: #e184b7;
    font-size: 1.5em;
    letter-spacing: .1em;
    font-weight: bold;
    }

  h2 {
    font-size: 1.4em;
    font-family: Tenor, Sans-serif;
    letter-spacing: .1em;
    color: #e184b7;
    }

  h4 {
    font-family: Tenor, Sans-serif;
    font-size: 1.1em;
    color: darkblue;
  }
  li {
    font-family: Tenor, Sans-serif;
    letter-spacing: .1em;
    color: Black;
    font-size: 15px;
  }

  p {
    color: Black;
    font-family: Tenor, Sans-serif;
  }

  
.cssblack {
  color: black;
}
